body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hero{
    position: relative;
    text-align: center;

}
.hero img{
    width: 1500px;
    height: 400px;
    background-image: linear-gradient(rgba(48, 38, 38, 0.5), rgba(0, 0, 0, 0,5));
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
    position: absolute;
    color: rgb(8, 4, 4);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero h1{
    display: inline;
    padding: 10px;
    font-size: 3em;
    
    text-align: left;
}
.hero h2{
    
    padding: 10px;
    text-align: center;
}
.hero p{
    position: relative;
    
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0 0;
}
.hero button{
    background-color: #697772;
    margin-right: 5px;
    border: 30px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
} 
 h3{
    text-align: center;
}
.Profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    text-align: center;
    font-weight: 200;
    background-color: rgb(121, 15, 56);
}
.Profile h4{
    top: 5px;
    text-align: center;
}
.Profile img{
    width: 60px;
    height: 60px;
    
}

.success{
    background-color: bisque;
    padding: 14px;
    text-align: center;
}
.success img{
    border-radius: 50%;
}
.love{
    text-align: center;
    background-color: rgb(121, 15, 56);
    padding: 20px;
}
.love button{
    background-color: #7c8d87;
    margin-right: 5px;
    border: 30px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    cursor: pointer;
}
footer{
    text-align: center;
    font-weight: 200;
}